<ion-split-pane>
  <ion-menu>
    <ion-header padding>
      <ion-icon class="close" src="/assets/images/icons/cancel.svg" color="light" (click)="this.menuCtrl.close()"></ion-icon>

      <div class="clear" *ngIf="userAttrs$ | async as userAttrs">
        <img id="profile-pic" class="circle" [src]="userAttrs.photoURL" />
        <ion-text>{{userAttrs.name.first}} {{userAttrs.name.last}}</ion-text>
      </div>
    </ion-header>
    <hr/>
    <ion-content>
      <ion-list>
        <ion-item padding lines="none" *ngFor="let vehicle of (vehicles$ | async)" 
          button 
          [ngClass]="{'vehicle': true, 'selected': localState.currentImei == vehicle.imei}" 
          (click)="selectVehicle(vehicle)">
          <img class="pic circle" [src]="vehicle.picUrl" />
          <div class="identification">
            <div class="name">{{vehicle.name || ("IMEI " + vehicle.imei)}}</div>
            <div *ngIf="vehicle.name" class="imei">IMEI {{vehicle.imei}}</div>
          </div>
        </ion-item>
      </ion-list>
      <div id="user-config">
        <ion-button expand="block" href="/tabs/(user:user)" routerDirection="root">Configurar Usuario</ion-button>
      </div>
    </ion-content>
  </ion-menu>

  <ion-tabs main>
    <ion-tab tab="home">
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="system">
      <ion-router-outlet name="system"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="map">
      <ion-router-outlet name="map"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="routes">
      <ion-router-outlet name="routes"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="settings">
      <ion-router-outlet name="settings"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="vehicle-settings">
      <ion-router-outlet name="vehicle-settings"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="user">
      <ion-router-outlet name="user"></ion-router-outlet>
    </ion-tab>
    <ion-tab tab="alerts">
      <ion-router-outlet name="alerts"></ion-router-outlet>
    </ion-tab>

    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home" href="/tabs/(home:home)">
        <ion-icon class="not-selected" src="/assets/images/icons/icono_inicio.svg"></ion-icon>
        <ion-icon class="selected" src="/assets/images/icons/inicio.svg"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="system" href="/tabs/(system:system)">
        <ion-icon class="not-selected" src="/assets/images/icons/icono_sistema.svg"></ion-icon>
        <ion-icon class="selected" src="/assets/images/icons/icono_sistema_hold.svg"></ion-icon>
        <ion-label>Sistema</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map" href="/tabs/(map:map)">
        <ion-icon class="not-selected" src="/assets/images/icons/mapa.svg"></ion-icon>
        <ion-icon class="selected" src="/assets/images/icons/icono_map_hold.svg"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="routes" href="/tabs/(routes:routes)">
        <ion-icon class="not-selected" src="/assets/images/icons/rutas.svg"></ion-icon>
        <ion-icon class="selected" src="/assets/images/icons/icono_rutas_hold.svg"></ion-icon>
        <ion-label>Rutas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="vehicle-settings" href="/tabs/(vehicle-settings:vehicle-settings)">
        <ion-icon class="not-selected" src="/assets/images/icons/ajustes.svg"></ion-icon>
        <ion-icon class="selected" src="/assets/images/icons/icono_ajustes_hold.svg"></ion-icon>
        <ion-label>Ajustes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-split-pane>