// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-font-family: 'Montserrat', sans-serif;
  --ion-text-color: #fff;
  color: #fff;
}
* {
  font-weight: 600;
}

ion-list {
  background: transparent !important;
}
ion-item {
  --background: transparent;
  --border-color: #63788a;
  --color: #fff;
  ion-icon.detail {
    color: #fff;
  }
}

ion-content {
  font-size: 0.8em;
  --background: linear-gradient(#272b35, #305888);
  position: relative;
}

ion-item.input-item {
  --background: #304d70;
  --highlight-height: 0;
  --border-width: 0;
  --min-height: 22px;
  --box-shadow: 0px 7px 7px -7px rgba(0,0,0,1);
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --padding-start: 0;
  --padding-end: 0;

  min-width: 200px;
  width: 50%;
  margin: 0 auto;
  > * {
    height: 22px;
  }
  ion-label {
    font-size: 10px !important;
    color: #c2c2c2 !important;

    &[position="stacked"] {
      margin-bottom: -7px;
    }
  }
  ion-input {
    font-size: 14px;
    border-radius: 3px;
    --background: #304d70;
    --padding-start: 5px;
  }
}

.page-content {
  padding: 20px 0;
  min-height: calc(100% - 100px);
}

.block {
  display: block;
}

.center.block {
  margin: 0 auto;
}

.clear {
  clear: both;
}

.center-text {
  text-align: center;
}

.badge {
  background-color: #f35958;
  font-weight: 300;
  height: 19px;
  line-height: 19px;
  min-width: 19px;
  padding: 0 6px;
  position: absolute;
  right: -8px;
  text-align: center;
  top: 4px;
  z-index: 2;
  border-radius: 100%;
}

.circle {
  border-radius: 100%;
}
img.circle {
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

.notification {
  --max-width: none;

  ion-backdrop {
    opacity: 0 !important;
  }

  .alert-wrapper {
    background-color: #a6bfde;
    border-radius: 15px;
    width: 90%;

    .alert-head {
      display: none;
    }
    .alert-message {
      padding: 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      .alert-head {
        display: none;
      }
      .header {
        padding: 10px 20px;
        background-color: #d2deee;
        color: #3d4e6b;
        .icon {
          display: inline-block;
          height: 10px;
          width: 10px;
          background-color: linear-gradient(#1f0342, #060957);
        }
        .title {
          font-size: 14px;
        }
        .time {
          float: right;
          font-size: 12px;
          margin-top: 3px;
        }
      }
      .body {
        padding: 10px 20px;
        color: #101316;
        .main {
          margin-bottom: 5px;
          font-size: 14px;
        }
        .footer {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }

    }
    .alert-button-group {
      display: none;
    }
  }
}
.popup-alert {
  h2 {
    color: #000 !important;
  }
}

ion-button {
  text-transform: none;
}

.yellow-color {
  color: #f7bd2f;
}