#home-wrapper {
  height: 100%;
  overflow-y: scroll;
}

ion-content {
  font-weight: 600;

  &.motorcycle {
    height: calc(457px + 145px);
  }
  &.car {
    height: calc(428px + 145px);
  }
  
  // @media screen and (min-height: 570px) {
  //   height: calc(100% - 23vw - 56px);
  //   @media screen and (max-width: 349px) {
  //     height: calc(100% - 23vw - 56px);
  //   }
  //   @media screen and (min-width: 350px) {
  //     height: calc(100% - 23vw - 56px);
  //   }
  // }

  .off {
    opacity: 0.5;
  }

  #vehicle-img {
    position: absolute;
    left: 50%;
    &.car {
      margin-left: -91px;
    }
    &.motorcycle {
      margin-left: -100px;
    }
  }

  > ion-grid {
    background: radial-gradient(ellipse, #5c92d5 0%, #041d5e 100%);
    color: #fff;
    padding-bottom: 0;
    overflow: hidden;
    
    > ion-row:nth-child(1) {
      // height: 72%;
      
      .indicator-icon {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;

        
    
        > img {
          width: 100%;
          display: block;
        }
        > div {
          font-size: 12px;
          margin: 0 auto;

          // @media screen and (max-height: 639px) {
          //   font-size: 10px;
          // }
        }
      }
      
      > ion-col:nth-child(1) {
        @media screen and (max-height: 639px) {
          transform: scale(0.85) translate(-15px, -40px);
        }
        .indicator-icon {
          width: 58px;
          // @media screen and (max-height: 639px) {
          //   // width: 45px;
          // }
  
          // > img {
          //   margin-top: -10px;
          // }
          // > div {
          //   margin-top: -15px;
          //   @media screen and (max-height: 639px) {
          //     margin-top: -10px;
          //   }
          // }

          // &:nth-child(1) {
          //   // margin-top: -18px;
          //   @media screen and (max-height: 639px) {
          //     margin-top: -13px;
          //   }
          // }

          &.battery-icon {
            // margin: 0 14px;
            background-image: url("/assets/images/icons/sleep-status.svg");
            background-repeat: no-repeat;
            background-position: 16px 0;
            height: 56px;
            width: 72px;
            margin-bottom: 22px;
            // @media screen and (max-height: 639px) {
            //   margin-bottom: 16px;
            // }
            opacity: 0.4;
            .text {
              margin-top: 0;
              padding-top: 40px;
            }
          
            &.on {
              opacity: 1;
            }
          }
        }
      }

      > ion-col:nth-child(3) {
        @media screen and (max-height: 639px) {
          transform: scale(0.85) translate(10px, -40px);
        }
        .indicator-icon {
          position: relative;
          .badge {
            right: unset;
            top: unset;
          }
          img {
            display: block;
            margin: 0 auto;
          }
          a {
            text-decoration: none;
            color: inherit;
          }

          // alarms icon
          &:nth-child(1) {
            // @media screen and (max-height: 639px) {
            //   img {
            //     height: 28px;
            //   }

            //   .badge {
            //     margin-top: -5px;
            //     margin-left: -5px;
            //   }
            // }
          }

          // siren icon
          &:nth-child(2) {
            img {
              width: 50px;
              // @media screen and (max-height: 639px) {
              //   width: 42px;
              // }
            }
          }
        }
      }

      > ion-col:nth-child(2) {
        &.car {
          // background-image: url("/assets/images/car.png");
          height: 428px;
          #aux {
            margin-top: -33px;
          }
        }
        &.motorcycle {
          // background-image: url("/assets/images/motorcycle.svg");
          height: 457px;
          
          #engine-cut {
            margin-top: 41px;

            ion-text {
              padding-top: 8px;
            }
          }
          #aux {
            ion-text {
              padding-bottom: 2px;
            }
            margin-bottom: 64px;
          }

          #armed-text {
            visibility: hidden;
          }
        }
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        .overlay {
          background: none !important;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
          z-index: 1;
          text-align: center;
          @media screen and (max-height: 639px) {
            font-size: 10px;
          }
          
          ion-row.middle {
            font-size: 20px;
            // @media screen and (max-height: 639px) {
            //   font-size: 2.4vh;
            // }
          }
          > ion-row {
            height: 33%;
          }
          
          .car-icon {
            opacity: 0.5;
            &.on {
              opacity: 1;
            }
            &.meridian {
              margin: 0 auto;
              img {
                display: block;
                margin: 0 auto;
                @media screen and (max-height: 639px) {
                  height: 42px;
                }
              }
              // left: calc(50% - 6vw);
            }
            &.equator {
              // width: 27vw;
              // top: 50%;
            }
            &#alarm-armed {
              right: -30px;
            }
            &#alarm-disarmed {
              // left: -30px;
            }
            ion-text {
              display: block;
              font-size: 10px;
            }
          }
          
          > ion-row:nth-child(2) {
            width: calc(100% + 164px);
            margin-left: -81px;
            // @media screen and (max-height: 639px) {
            //   width: calc(100% + 110px);
            //   margin-left: -55px;
            // }
          }
        }
      }
    }

    > ion-row:nth-child(2) {
      // height: calc(28% - 11px);
      background: rgba(61, 85, 151, 0.3);
      border-radius: 8px;
      padding-bottom: 12px;
      margin: 0 -5px;
      margin-top: 10px;

      > ion-col {
        height: 84%;
        // margin-top: -22px;

        .progress-circle {
          height: 100%;
          position: relative;
          text-align: center;
          
          .filling {
            position: absolute;
            top: 50%;
            margin-top: -38px;
            left: 0;
            width: 100%;

            // img {
            //   height: 3.5vh;
            // }

            .value {
              font-size: 18px;
              margin-top: -3px;
            }
            .unit {
              font-size: 9px;
              border-radius: 7px;
              padding: 1px 4px;
              border: 1px solid;
            }
          }
          
          .percent {
            margin-top: -9px;
            // @media screen and (max-height: 639px) {
            //   margin-top: -8px;
            // }
          }
        }
      }
    }
  }
}