<div id="home-wrapper" *ngIf="state$ | async as state">
  <app-header></app-header>

  <ion-content *ngIf="vehicleType$ | async as vehicleType" [ngClass]="[vehicleType]">
    <img 
      id="vehicle-img"
      [ngClass]="[vehicleType]"
      [src]="'/assets/images/' + (vehicleType === 'car' ? 'car.png' : 'motorcycle.svg')">
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="sideicon-column">
          <div [ngClass]="{'indicator-icon': true, 'battery-icon': true, 'on': state.energySavings === false}">
            <div class="text">Sleep</div>
          </div>
          <div [ngClass]="{'indicator-icon': true, 'battery-icon': true, 'on': state.energySavings}" style="background-position:16px -70px;">
            <div class="text">Activo</div>
          </div>
        </ion-col>
        <ion-col size="6" [ngClass]="[vehicleType]">
          <ion-grid class="overlay">
            <ion-row align-items-center>
              <div [ngClass]="{'car-icon': true, 'meridian': true, 'on': state.engineCut}" id="engine-cut">
                <img src="/assets/images/corte.png"/>
                <ion-text *ngIf="state.engineCut != undefined">Bloqueo {{state.engineCut ? "On" : "Off"}}</ion-text>
              </div>
            </ion-row>
            <ion-row class="middle">
              <ion-col align-self-end>
                <div [ngClass]="{'car-icon': true, 'equator': true, 'on': state.alarmArmed === false}" id="alarm-disarmed">
                  <img src="/assets/images/green-lock.png" />
                </div>
              </ion-col>
              <ion-col align-self-center>
                <ion-text id="armed-text" *ngIf="state.alarmArmed != undefined">{{state.alarmArmed ? "Armado" : "Desarmado"}}</ion-text>
              </ion-col>
              <ion-col align-self-end>
                <div [ngClass]="{'car-icon': true, 'equator': true, 'on': state.alarmArmed}" id="alarm-armed">
                  <img src="/assets/images/red-lock.png"/>
                </div>
              </ion-col>
            </ion-row>
            <ion-row align-items-center>
              <div [ngClass]="{'car-icon': true, 'meridian': true, 'on': any(state.auxiliary)}" id="aux">
                <ion-text *ngIf="state.auxiliary != undefined && vehicleType === 'motorcycle'">Auxiliar {{any(state.auxiliary) ? "On" : "Off"}}</ion-text>
                <img src="/assets/images/aux.png"/>
                <ion-text *ngIf="state.auxiliary != undefined && vehicleType === 'car'">Auxiliar {{any(state.auxiliary) ? "On" : "Off"}}</ion-text>
              </div>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="3" class="sideicon-column">
          <!-- right side icons -->
          <div [ngClass]="{'indicator-icon': true, 'off': (alarmCount$ | async) == 0}">
            <span *ngIf="(alarmCount$ | async) > 0" class="badge">{{(alarmCount$ | async)}}</span>
            <div (click)="navCtrl.navigateRoot('/tabs/(alerts:alerts)')">
              <img src="/assets/images/icons/warning.svg"/>
              <div>Alertas</div>
            </div>
          </div>
          <div [ngClass]="{'indicator-icon': true, 'off': state.siren == undefined}">
            <img [src]="state.siren ? '/assets/images/sound.svg' : '/assets/images/no_sound.svg'"/>
            <div>Sirena</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col no-padding>
          <div class="progress-circle">
            <div class="filling">
              <img src="/assets/images/icons/battery_small.svg" />
              <div class="value">{{internalBattery$ | async}}</div>
              <span class="unit">Volts</span>
            </div>
            <circle-progress outerStrokeColor="#fd5151" innerStrokeColor="#665572" [percent]="internalBatteryPercent$ | async"></circle-progress>
            <div class="percent">{{internalBatteryPercent$ | async}}%</div>
          </div>
        </ion-col>
        <ion-col no-padding>
          <div class="progress-circle">
            <div class="filling">
              <img src="/assets/images/icons/battery_car_small.svg"/>
              <div class="value">{{vehicleBattery$ | async}}</div>
              <span class="unit">Volts</span>
            </div>
            <circle-progress outerStrokeColor="#4ec848" innerStrokeColor="#536a80" [percent]="vehicleBatteryPercent$ | async"></circle-progress>
            <div class="percent">{{vehicleBatteryPercent$ | async}}%</div>
          </div>
        </ion-col>
        <ion-col no-padding>
          <div class="progress-circle">
            <div class="filling">
              <img style="margin-top: -2px" src="/assets/images/icons/flame_small.svg"/>
              <div class="value">{{state.accelerometerSensibility}}</div>
              <span class="unit">Level</span>
            </div>
            <circle-progress outerStrokeColor="#ddea6c" innerStrokeColor="#617f8d" [percent]="accelerometerSensPercent$ | async"></circle-progress>
            <div class="percent">{{accelerometerSensPercent$ | async}}%</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>