ion-content {
  --background: linear-gradient(#272b35, #305888);

  > ion-list {
    > ion-item {
      ion-icon {
        font-size: 40px;
        margin-top: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
      }
      ion-text {
        color: #f7bd2f;
        font-size: 10px;
      }

      &.accelerometerAlarm {
        ion-icon {
          font-size: 32px;
        }
      }
    }
  }
}